<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Anonymization Report</title>
</head>
<body>
    <h1>Anonymization Report</h2>
    <h2>General Information</h2>

    <div class="container">
        <h3>Equivalence Classes Amount Comparison</h3>
        <table id="eq_comparison_amount">
        <tr>
            <th>Name</th>
            <th>Before</th>
            <th>After</th>
        </tr>
        {% for att_name, values in eq_classes_differences.iteritems() %}
            <tr>
                <td>{{ att_name }}</td>
                <td>{{ values[0] }}</td>
                <td>{{ values[1] }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="container">
        <h3>Removed Outliers Amount: {{ removed_outliers }}</h3>
        <h3>Final Equivalence Classes Amount: {{ eq_classes_amount }}</h3>
    </div>

    <div class="container">
        <h2>Additional Information</h2>
        {% for item in additional_information|dictsort %}
            <p><b>{{ item[1][0] }}:</b> {{ item[1][1] }} </p>
        {% endfor %}
    </div>
</body>

<style>

table, th, td {
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0088cc;
    color: white;
}

table tr:hover {
    background-color: #80d4ff;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
   background-color: #fff;
}

</style>

</html>
